html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #e2e1df;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #e2e1df;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff914d;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a15d32;
} */
::-moz-selection {
  /* Code for Firefox */
  /* color: red; */
  background: #ff914d;
}

::selection {
  /* color: red; */
  background: #ff914d;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
